body {
    max-width: 800px;
    margin:auto;
}

ul {
    width:fit-content;
}

ul *{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    display:inline;
}

div {
    width: 800px;
    height: 400px;
    margin-top: 20px;
}

img {
    width: 800px;
    height:auto;
}